@import 'photon/variables.scss';

.autocomplete {
  position: relative;

  > .autocomplete-results {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;

    list-style: none;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    margin: 6px 0 0 0;
    padding: 0;

    > .autocomplete-result.selected {
      &:first-child {
        border-radius: $default-border-radius $default-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $default-border-radius $default-border-radius;
      }
    }
  }
}
