@import 'photon/photon.scss';
@import 'dynamic-prompt.scss';
@import 'autocomplete.scss';

/**********/
/* Layout */
/**********/

body {
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;

  > section {
    width: 100%;
    padding: 0 1em;
    margin: 1em 0;
  }
}


/***********/
/* Content */
/***********/

#advice-animal {
  border-radius: 10px;
  width: 100%;
}

.placeholder {
  transform: scale(0.5);
}

@keyframes Spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
