@import 'photon/photon.scss';
@import 'dynamic-prompt.scss';
@import 'autocomplete.scss';
@import 'image-macro.scss';
@import 'starfield.scss';

/**********/
/* Layout */
/**********/

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;

  > #root {
    width: 100%;
  }
}

.consultation {
  > *:not(:last-child) {
    margin-bottom: 0.5em;
  }
}
