@import 'photon/photon.scss';

/**********/
/* Layout */
/**********/

body {
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;

  > section {
    width: 100%;
    padding: 0 1em;
    margin: 1em 0;
  }
}


/***********/
/* Content */
/***********/

#advice-animal {
  border-radius: 10px;
  width: 100%;
}

.placeholder {
  transform: scale(0.5);
}

@keyframes Spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/***********/
/* Content */
/***********/

.autocomplete {
  position: relative;

  > .autocomplete-results {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;

    list-style: none;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    margin: 6px 0 0 0;
    padding: 0;

    > .autocomplete-result.selected {
      &:first-child {
        border-radius: $default-border-radius $default-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $default-border-radius $default-border-radius;
      }
    }
  }
}
