@import 'photon/variables.scss';
@import 'animations.scss';

.image-macro {
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    z-index: -1;
    animation: 0.5s ease-out 1 FlyIn;
  }

  &.loading {
    animation: 0.75s ease-out infinite PulseFade;
  }
}

@keyframes FlyIn {
  0% {
    transform: translate(0, -100%) scale(0.1);
    opacity: 0.3;
    -webkit-filter: blur(20px);
  }

  40% {
    transform: translate(0, -10%) scale(0.2);
    opacity: 0.4;
    -webkit-filter: blur(10px);
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    -webkit-filter: blur(0px);
  }
}
