$space-dark-color: rgba(0, 0, 20, 1);
$space-light-color: rgba(20, 20, 60, 1);

$secondary-color: rgba(236, 36, 144, 1);
$tertiary-color: rgba(236, 36, 144, 1);
$quatemary-color: rgba(184, 232, 224, 1);
